body{
    margin: 0;
    font-family: "Inter",sans-serif;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header{
    width: 100vw;
    background-color: black;
    color: white;
    height: 30vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header h1{
    font-size: 4rem;
}

.header button{
    background: none;
    border: none;
    font-family: "Inter" , sans-serif;
    color: white;
    font-size: 1rem;
}

.header button:focus,
.header button:hover{
    cursor: pointer;
}

.search-bar{
    position: absolute;
    left: 20vw;
    top: 26.5vh;
    z-index: 1;
    width: 60vw;
    height: 3rem;
    border: 1px solid #D1D5DB;
    box-shadow: 0px 1px 2px #000000;
    display: flex;
}

.search-bar form{
    width: 100%;
    height: 100%;
    display: flex;
}

.search-bar input{
    margin: 0;
    height: 3rem;
    font-size: 1rem;
    border: none;   
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
    width: 80%;
}

.search-bar button{
    margin: 0;
    height: 3rem;
    font-size: 1rem;
    border: none;
    padding-top: 0;
    padding-bottom: 0;
    margin-left: 1px solid #D1D5DB;
    flex-grow: 1;
}

.search-bar button:hover{
    cursor: pointer;
}

#movie-list{
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    padding-top: 2em;
    flex-grow: 1;
}

#placeholder{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    width: fit-content;
}

.placeholder{
    margin: auto;
    width: fit-content;
}

.movie  {
    height: 30vh;
    padding: 1em;
    display: flex;
}

.image{
    width: 20vw;
    height: 30vh;
    background: #000000;
    margin-right: 1em;
}

.movie-name{
    margin: 0;
}

.movie-info {
    display: flex;
    justify-content: space-between;
    width: 30vw;
    align-items: center;
}

.movie-info button{
    background: none;
    color: black;
    font-family: "Inter", sans-serif;
    border: none;
    font-size: 1em;
    font-weight: bold;
}

.movie-info button:hover{
    cursor: pointer;
}